<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for @new_board do |f| %>
      <div class="input-group" style="padding-bottom:10px;">
        <span class="input-group-btn">
          <%= link_to "#", class: "btn btn-default" do %>
            <i class="fa fa-folder-o"></i>
          <% end %>
        </span>
        <%= f.text_field :title, class: 'form-control' %>
        <span class="input-group-btn">
          <%= f.button :submit, class: "btn btn-default", data: { disable_with: "+" } do %>
            <i class="fa fa-plus"></i>
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
</div>
