
<div class="row">
  <div class="col-md-4">
    <%= form_for @new_board do |f| %>
      <div class="input-group" style="padding-bottom:10px;">
        <span class="input-group-addon">Add a Board</span>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    <% end %>
  </div>
</div>

<ul class="nav nav-tabs">
  <% @boards.each do |board| %>
    <% if board.id == session[:board_id].to_i %>
      <% @active = "active" %>
    <% else %>
      <% @active = "nil" %>
    <% end %>

    <%= content_tag :li, role: "presentation", class: @active do %>
      <%= link_to board.title, change_board_path(board), class: "active" %>
    <% end %>
  <% end %>
</ul>
