
<div class="row">
  <div class="col-md-4">
    <%= form_for @new_board do |f| %>
      <div class="input-group" style="padding-bottom:10px;">
        <span class="input-group-addon">Add a Board</span>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    <% end %>
  </div>
</div>

<ul class="nav nav-tabs">

  <% @boards.each do |board| %>
    <li role="presentation">
      <%= link_to board.title, board_path(board) %>
    </li>
  <% end %>

</ul>
